body {
    background-color: #d49ca4;
}
}




body {


    margin: 0;
}


#menu {
    list-style: none;
    float: left;

}

#menu li {
    position: relative;
    float: left;

}

#menu li a {
    color: #240c13;
    text-decoration: none;
    padding: 20px;

}

#logo {
    width: 200px;
    border-radius: 50%;
    position: absolute;


}

#imagem {
    position: relative;
    top: 4%;
    left: 43%;
}

fieldset {

    text-align: center;
    margin: auto;
    width: 50%;
    border: 3px;
    padding: 10px;
}

fieldset {
    background-color: #9e6971;
    border-radius: 10%;
    text-align: center;
}

h1 {
    font-size: 5rem;
    color: #240c13;

}

ol {
    padding: 50px;
}

#foto {
    border-radius: 30%;
    width: 50px;
}

.img {
    border-radius: 50%;
    width: 100px;
    position: fixed;
    bottom: 0;
    right: 0;

}

#fotos {
    text-align: center;
}

#imag {
    border-radius: 10%;
    position: relative;
    width: 300px;
    height: 200px;
}