body {
    background-color: #d49ca4;
}

body {
    margin: 0;
}


#menu {
    list-style: none;
    float: left;

}

#menu li {
    position: relative;
    float: left;

}

#menu li a {
    color: #240c13;
    text-decoration: none;
    padding: 20px;

}

#logo {
    width: 200px;
    border-radius: 50%;
    position: absolute;


}

#imagem {
    position: relative;
    top: 2%;
    left: 43%;
}

table {

    background-color: #9e6971;
}

#cor {
    background-color: #bf3f64;
}

#foto {
    border-radius: 30%;
    width: 50px;
}

.img {
    border-radius: 50%;
    width: 100px;
    position: fixed;
    bottom: 0;
    right: 0;

}



fieldset {
    border-radius: 10%;
    border: 0;
    background-color: #9e6971;
    width: 500px;
}